/*@blue: #6996D3;
@purple: #7F70D8;
@green: #5ED2B8;
@orange: #FFCA73;
*/

body {
	font-family: "Helvetica Neue Light", arial;
	color: #555;
	background: transparent url('http://www.free-desktop-backgrounds.net/free-desktop-wallpapers-backgrounds/free-hd-desktop-wallpapers-backgrounds/723860876.jpg') no-repeat top center;
}

#main {
	background: #fafafa;
}

.clickable {
	cursor: pointer;
}

h1 {
	font-weight: normal;
	color: #6996D3;
	text-shadow: 1px 1px 0 #f3f3f3;
	letter-spacing: -0.05em;
	margin: 0;
	font-family: 'Patua One', georgia;
}

h2 {
	font-weight: normal;
	color: #7F70D8;
	text-shadow: 1px 1px 0 #f3f3f3;
}

h3 {
	font-weight: normal;
	color:#5ED2B8;
}

h4 {
	font-weight: normal;
	color: #5ED2B8;
}


input[type="password"], input[type="search"], input[type="text"], input[type="textbox"], input[type="textarea"], textarea, input[type="email"] {
	border: thin solid #ddd;
	color: #555;
	cursor: pointer;
	padding: 0.1em 0.4em 0.1em 0.4em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: text;
	font-size: .9em;
}

input[type="text"] {
	position: relative; z-index: 100000;
}

#do_signup, #do_login {
	width: 100%;
	text-align: right;
}

#do_signup:hover, #do_login:hover {
	text-decoration: underline;
	cursor: pointer;
}

#signup_box {
	display: none;
}

.box {
	width: 200px;
	margin: 0px auto;
}

.box td {
	text-align: center;
	padding:.5em;
}

#message {
	width: 100%;
	border: thin solid #ffaa99;
	color: #ffaa99;
	padding: .4em 0;
	margin: .5em 0;
	min-height: 1em;
	display: none;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }


#tripEditor {
	display: none;
	text-align: center;
	border: thick solid #5ED2B8;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px 5px 10px;
}

#tripTable {
	width: 100%;
}

#tripTable td.label {
	text-align: right;
	width: 200px;
}

#tripTable input, #tripTable textarea {
	width: 500px;
}

#header {
	width: 100%;
	min-height: 1em;
	background: #1a1a1a;
	color: #7F70D8;
	font-weight: bold;
	text-align: left;
	padding: 1em;
	margin: 0;
	overflow: hidden;
	border-bottom: thick solid #7F70D8;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
	position: fixed;
	z-index: 40;
	top: 0;
	left: 0;
}

#logout {
	float: right;
	margin-right: 2em;
}

.clickable:hover {
	text-decoration: underline;
}

#message.success {
	padding: .4em 0;
	margin: .5em 0;
	text-align: center;
	background: #fff;
	border-color: #5ED2B8;
	color: #5ED2B8;
}

#today {
	color: #bbb;
	position: relative;
	top: -25px;
}

#createTrip {
	float: right;
	margin-top: -3em;
}

#viewCal {
	float: right;
	margin-top: -2em;
}

#tripDisplay {
	text-align: center;
	border: thick solid #6996D3;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px 5px 10px;
}
#tripDisplayTable {
	width: 100%;
}

#tripDisplayTable th {
	min-width: 140px;
}

#tripDisplayTable tr:nth-child(odd) {
	background: #f3f3f3;
}

#tripDisplayTable td {
	max-width: 220px;
	word-wrap: break-word;
}

#welcome, h1 {
	font-family: 'Patua One', georgia;
}